// === StudioBid theme overrides ===
// These MUST be configured when loading Bootstrap via @use.

$studio-font-stack: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
  "Segoe UI", sans-serif;

@use "bootstrap/scss/bootstrap" as * with (
  $primary: #ed3d94,
  $secondary: #000000,
  $info: #acddd9,

  $body-bg: #ffffff,
  $body-color: #000000,

  $font-family-sans-serif: $studio-font-stack,
);

// Partials
@use './typography';
@use './layout';
@use './header';
@use './footer';
@use './hero';
@use './cards';
@use './forms';
@use './profile';
@use './listing';

// === custom styles goes here ===

body {
  font-family: $studio-font-stack;
}
